node_modules
docs
resources
static/images/favicon*
yarn-error.log
assets/js/modernizr.js
**/.DS_Store
.hugo_build.lock
patches
static/pdfjs
**/front.jpg
content/**/front/*
content/**/title/*
content/**/cover/*
content/**/ogPreview-overlay.*
data/stats.json
**/vips-properties.xml

static/fonts/
assets/css/
assets/scss/npm-fonts/
assets/scss/flags/
hugo_stats.json
