@use "functions/color" as *;
/* @use "hugo:vars" as *; */

@import "normalize";
@import "bootstrap.scss";

/* Variables */
$text-font-family: Lora, Georgia, serif;
$heading-font-family: Lato, Helvetica, sans-serif;
$code-font-family: monospace;
/* Colors */
$bg-color: #FAFAFA !default;
$fg-color: #212121 !default;
$alt-bg-color: #E0E0E0 !default;
$alt-fg-color: #000 !default;
$link-color: #1565c0 !default;
/* Colors dark */
$bg-color-dark: #212121 !default;
$fg-color-dark: #dadada !default;
$alt-bg-color-dark: #424242 !default;
$alt-fg-color-dark: #dadada !default;
$link-color-dark: #42a5f5 !default;
$nav-color: #293133 !default;
@import "fonts/lato";
@import "fonts/lora";
@import "base";
@import "content";
@import "navigation";
@import "ol";
@import "ol-iiif";
@import "icons";
@import "media-info";
/**
 * Fontawesome SVGs - taken fom https://github.com/FortAwesome/Font-Awesome
 * URL encoder for SVG: https://yoksel.github.io/url-encoder/
 * CSS filter generator: https://codepen.io/sosuke/pen/Pjoqqp
 */
$bars: "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='#{encodecolor($bg-color)}' d='M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z'/%3E%3C/svg%3E";
$clock: "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='#{encodecolor($fg-color)}' d='M256,8C119,8,8,119,8,256S119,504,256,504,504,393,504,256,393,8,256,8Zm92.49,313h0l-20,25a16,16,0,0,1-22.49,2.5h0l-67-49.72a40,40,0,0,1-15-31.23V112a16,16,0,0,1,16-16h32a16,16,0,0,1,16,16V256l58,42.5A16,16,0,0,1,348.49,321Z'/%3E%3C/svg%3E";
$calendar: "%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='#{encodecolor($fg-color)}' d='M12 192h424c6.6 0 12 5.4 12 12v260c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V204c0-6.6 5.4-12 12-12zm436-44v-36c0-26.5-21.5-48-48-48h-48V12c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v52H160V12c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v52H48C21.5 64 0 85.5 0 112v36c0 6.6 5.4 12 12 12h424c6.6 0 12-5.4 12-12z'/%3E%3C/svg%3E";

.fas {
    font-weight: unset;
}
@media only screen and (max-width: 768px) {
    .fa-bars:before {
        content: url("data:image/svg+xml, #{$bars}");
        display: inline-block;
        width: 1em;
    }

    .fa-clock:before {
        content: url("data:image/svg+xml, #{$clock}");
        display: inline-block;
        width: 1em;
    }

    .fa-calendar:before {
        content: url("data:image/svg+xml, #{$calendar}");
        display: inline-block;
        width: 1em;
    }
}

nav {
    position: fixed;
    background: $nav-color;
    /* background-color: rgba(41, 49, 51, .95); */
    z-index: 1001;

    .container {
        a,
        span {
            color: #FAFAFA;
        }

        a:active,
        a:hover {
            text-decoration: none;
            color: #FAFAFA;
        }
        @media only screen and (max-width: 768px) {
            .navigation-item {
                .navigation-link {
                    color: black;

                    i.link-icon {
                        display: none;
                    }
                }
            }

            .menu-button i {
                color: $bg-color;
            }
        }
    }
}

.content {
    /* height: calc(100vh - 6.0rem); */
    margin-bottom: 0;
    display: flex;
    flex-direction: row;

    @media (max-width: 37.5em) {
        flex-direction: column;
    }

    &.error404,
    &.home {
        background: linear-gradient(90deg, #fff 50%, #293133 50%);
    }

    .page {
        &.about {
            hr {
                border-top: unset;
                clear: both;
                visibility: hidden;
                display: block;
            }
        }
    }
    &.search {
        display: flex;
        flex: unset;
        margin-top: 10em;
        flex-wrap: wrap;
    }

    .content-text {
        width: 100%;
        @media (max-width: 37.5em) {
            order: 2;
        }
    }

    .product-preview {
        min-width: fit-content;
        display: flex;
        img {
          margin: 0 3em;
          @media (max-width: 37.5em) {
              margin: 0 .4em;
          }
        }

        @media (max-width: 37.5em) {
            order: 1;
        }
    }

}

.about-container,
.error404-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50em;
    position: relative;

    .about,
    .error404 {
        width: 100%;

        .avatar {
            img {
                width: 24rem;
            }
            @media only screen and (max-width: 768px) {
                img {
                    width: 18rem;
                }
            }
        }
    }

    .about-foreground,
    .error404-foreground {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);

        h1,
        h2,
        p {
            color: white;
        }
    }

    .about-foreground {
        h1,
        h2 {
            margin-bottom: 0.5rem;
        }

        h1 {
            margin-top: 2rem;
        }

        h2 {
            margin-top: 1rem;
            font-size: 2.4rem;
        }

        .avatar {
            filter: invert(100%);
            @media only screen and (max-width: 768px) {
                img {
                    width: 18rem;
                }
            }
        }
        @media only screen and (max-width: 768px) {
            h2 {
                font-size: 2rem;
            }
        }
    }

    .avatar {
        img {
            width: 24rem;
        }

        a {
            cursor: default;
        }
    }
}
@media only screen and (max-width: 640px) {
    .about-container {
        width: 40em;
    }
}

article {
  /*
    &.posts {
      margin-top: 8.5em;
    }
*/

    header h1.header {
        width: 100%;
        /* margin-top: 2.5em; */
        font-size: 4.2rem;
    }
}

.list .post ul {
    padding-top: 1em;
}

.list ul {
    li {
        display: flex;
        margin-bottom: 0.8em;
        flex-direction: column;

        .date {
            display:none;
        }

        &.post-preview {
          margin-top: 2.4em;

          p:has(.worldcat) {
            display: none
          }
        }

        .post-heading {
            display: flex;

            .title {
                font-size: larger;
                padding-bottom: .8rem;
            }

            .collapsed,
            .title:focus,
            a:visited {
                text-decoration: none;
                color: $fg-color;
            }

            a:active,
            a:hover {
                text-decoration: none;
                color: #0b1e47;
            }

            .link {
                width: calc(100% - 20rem);
            }
        }

        .post-snippet {
            display: flex;
            justify-content: space-between;

            .description {
                display: block;
            }

            .post-content {
                margin-left: 24.5rem;
                margin-top: 2rem;
                background-color: #fff;
                border-radius: 0.5rem;
                background-color: #fff;
                box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,.19), 0 0.3rem 0.3rem -0.1rem rgba(0,0,0,.23);
                padding: 0.6em;

                h1 {
                    font-size: 130%;
                    margin-top: 1.5rem;
                    margin-bottom: 1rem;
                    margin-left: 2rem;
                }

                h2 {
                    font-size: 120%;
                    margin-top: 1rem;
                    margin-bottom: 0.5rem;
                    margin-left: 2rem;
                }

                h3 {
                    font-size: 110%;
                    margin-top: 0.5rem;
                    margin-bottom: 0.25rem;
                    margin-left: 2rem;
                }

                p {
                    margin-left: 2rem;
                }
            }
        }

        @media only screen and (max-width: 768px) {
            .post-heading {
                display: unset;

                .date {
                    width: 13rem;
                    margin-right: 2rem;
                    display: block;
                }
            }

            .post-snippet {
                margin-top: 2rem;
                margin-left: 5rem;
                margin-bottom: 3.5rem;

                .post-spacer {
                    display: none;
                }

                .description {
                    margin-left: unset;
                }

                .post-content {
                    margin-left: unset;
                }
            }
        }

        @media (max-width: 37.5em) {
            .post-snippet {
                margin-top: 1rem;
                margin-left: 1rem;
                margin-bottom: 2rem;
              }
        }
    }
}
/*
 * Flags from https://github.com/lipis/flag-icon-css
 * Flags encoded by https://www.base64encode.org/
 */
.de {
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGlkPSJmbGFnLWljb24tY3NzLWRlIiB2aWV3Qm94PSIwIDAgNjQwIDQ4MCI+CiAgPHBhdGggZmlsbD0iI2ZmY2UwMCIgZD0iTTAgMzIwaDY0MHYxNjBIMHoiLz4KICA8cGF0aCBkPSJNMCAwaDY0MHYxNjBIMHoiLz4KICA8cGF0aCBmaWxsPSIjZDAwIiBkPSJNMCAxNjBoNjQwdjE2MEgweiIvPgo8L3N2Zz4=");
    background-size: 100% 100%;
}

.en {
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGlkPSJmbGFnLWljb24tY3NzLWdiIiB2aWV3Qm94PSIwIDAgNjQwIDQ4MCI+CiAgPHBhdGggZmlsbD0iIzAxMjE2OSIgZD0iTTAgMGg2NDB2NDgwSDB6Ii8+CiAgPHBhdGggZmlsbD0iI0ZGRiIgZD0iTTc1IDBsMjQ0IDE4MUw1NjIgMGg3OHY2Mkw0MDAgMjQxbDI0MCAxNzh2NjFoLTgwTDMyMCAzMDEgODEgNDgwSDB2LTYwbDIzOS0xNzhMMCA2NFYwaDc1eiIvPgogIDxwYXRoIGZpbGw9IiNDODEwMkUiIGQ9Ik00MjQgMjgxbDIxNiAxNTl2NDBMMzY5IDI4MWg1NXptLTE4NCAyMGw2IDM1TDU0IDQ4MEgwbDI0MC0xNzl6TTY0MCAwdjNMMzkxIDE5MWwyLTQ0TDU5MCAwaDUwek0wIDBsMjM5IDE3NmgtNjBMMCA0MlYweiIvPgogIDxwYXRoIGZpbGw9IiNGRkYiIGQ9Ik0yNDEgMHY0ODBoMTYwVjBIMjQxek0wIDE2MHYxNjBoNjQwVjE2MEgweiIvPgogIDxwYXRoIGZpbGw9IiNDODEwMkUiIGQ9Ik0wIDE5M3Y5Nmg2NDB2LTk2SDB6TTI3MyAwdjQ4MGg5NlYwaC05NnoiLz4KPC9zdmc+");
    background-size: 100% 100%;
}

.portfolio-list-content,
.post-list-content {
    margin-top: 2em;
    width: 100%;
    text-align: justify !important;
    color: gray;

    p {

        margin-top: 1em;
    }
}

.about-image {
    float: right;
    margin-bottom: 1.5em !important;
    margin-left: 2em !important;
    width: 14em;

    figcaption {
        h4 {
            font-size: unset;
            line-height: unset;
            padding: 1.4rem 0 0.8rem;
            background-color: lightgray;
            margin: unset;
        }
    }
}

body {
    //background-position: 97% 97%;
    background-position: 97% 5em;
    background-image: url("/images/cm.svg");
    background-repeat: no-repeat;
}
@media only screen and (max-width: 768px) {
    .about-image {
        margin-bottom: 0.75em !important;
        margin-left: 1em !important;
        width: 7em;

        figcaption {
            h4 {
                padding: 0.7rem 0 0.4rem;
            }
        }
    }

    body {
        //background-position: 97% 97%;
        background-position: 97% 7em;
        background-image: url("/images/cm.svg");
        background-repeat: no-repeat;
    }
}

.logo .viewer {
    width: 100%;
    height: 65vh;
}

.share {
    text-align: end;
    font-size: small;
    line-height: normal;
    margin-top: 1em;
    margin-bottom: 1.5em;

    a {
        text-decoration: none;
    }
}

.wrapper {
    min-height: calc(100vh - 3em);
}

.home .wrapper {
    min-height: 100vh;
}

footer {
    background: #293133;
    font-family: $heading-font-family;
    margin-top: 3em;
    /* max-height: 5.5em; */

    .footer-container {
        max-width: 60%;
        margin: auto;
        text-align: center;
        color: #fafafa;

        p {
            margin: unset;
        }

        a {
            color: #fafafa;
            text-decoration: none;
        }

        .footer-powered-by {
            font-size: small;
        }
    }
}

.navigation-title img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    background-color: white;
    display: none;
    height: 2.7em;
    margin-right: 1rem;
    /* object-fit: contain' */
}

.insta:after {
    display: inline-block;
    width: 1.6em;
    height: 1.6em;
    line-height: 2em;
    content: url($insta-dark);
    vertical-align: sub;
}

.categories {
    text-align: center;
    margin: 4.5em auto 1em auto !important;
    width: 60%;
    display: flex;
    align-items: center;
    align-self: center;
    font-family: $heading-font-family;
    justify-content: center;
    padding: 0px !important;
    box-sizing: border-box;
    border-bottom: $nav-color 2px solid;

    li {
        padding-inline-start: 0px;
        font-size: 1.8rem;
    }

    .merch-category {
        background: #ecf0f1;
        margin-bottom: 0px;
        padding: 0.4em 0.8em !important;
        display: flex;
        border-top-left-radius: .2rem;
        border-top-right-radius: .2rem;
        border: #ecf0f1 .2rem solid;

        a {
          text-decoration: none;
          color: $alt-fg-color;
          font-size: 18px;
        }

        &.active {
          border-bottom: $nav-color 2px solid;
        }
    }
}

.entry-meta {
    display: none;
}

.iiif {
    margin-top: 3em;
    width: 100%;
    position: relative;
    padding-bottom: 100%;
    margin-bottom: 4em;

    .viewer {
        width: 100%;
        height: 100%;
        display: block;
        margin: auto;
        position: absolute;

        &.portrait {
            width: 100%;
            height: 100%;
            display: block;
        }

        &.landscape {
            width: 100%;
            height: calc(4 / 1 * 100);
        }
    }

    .iiif-image {
        width: 100%;
        padding: 0.3em;
    }

    .share {
        position: absolute;
        bottom: -5em;
        right: 0;
        a, a:link, a:visited, a:hover {
            color: $fg-color;
            text-decoration: none;
        }
    }
}

.preview-link {
    cursor: default;

    &:link,
    &:visited,
    &:hover,
    &:active {
      color: $fg-color;
      text-decoration: none;
    }

}

.content.page {
  p:has(.worldcat) {
    display: flex;
    justify-content: flex-end;

    .worldcat {
      text-align: right;

      &:before {
        content: 'Worldcat ';
      }
    }

  }


}
