{{- $page := .Page -}}
{{- $context := path.Dir .File.Path -}}
{{- $pageURL := .Permalink -}}
<div class="content page">
    <section class="container page {{ .Page.Params.slug }}">
      {{ partial "section-header.html" . }}
      <article>
        <header>
          <h1 class="header">{{ .Title }}</h1>
        </header>
        <div class="entry-meta">
            {{- if not .Params.metaPage -}}
            <span class="date">{{ partial "date.html" . }}</span>
            {{- end -}}
        </div>

        <div class="content">
            <div class="content-text">
                {{ .Content }}
            </div>
            {{ if ne .Kind "section" }}
                {{ partial "product-preview.html" (dict "context" . "pageContext" $page "width" 350) }}
            {{ end }}
        </div>
        {{- range .Params.resources -}}
            {{- if .params.iiif -}}
                <div class="iiif">
                    {{ partial "iiif/iiif-image.html" (dict "context" . "contextPath" $context "pageURL" .Permalink "pageContext" $page "site" $.Site) }}
                </div>
            {{- end -}}
        {{- end -}}
      </article>
    </section>
</div>
