{{- $page := .Page -}}
{{- $context := path.Dir .File.Path -}}
{{- $pageURL := .Permalink -}}
<div class="content page">
    <section class="container page {{ .Page.Params.slug }}">
      {{- partial "section-header.html" . -}}
      <article>
        <header>
          <h1 class="header">{{ .Title }}</h1>
        </header>
        <div class="entry-meta">
          {{- if not .Params.metaPage -}}
            {{- .Date | time.Format ":date_full" -}}
          {{- end -}}
        </div>

        <div class="content">
          <div class="content-text">
            {{- .Content -}}
          </div>
          {{- if ne .Kind "section" -}}
            {{ partial "product-preview.html" (dict "context" . "pageContext" $page "width" 350) -}}
          {{- end -}}

          {{- with .Params.pdf -}}
            {{- if ne . "" -}}
              <h2>{{ i18n "pdfPreview" }}</h2>
              {{- $pdf := . -}}
              {{- $class := "pdf-preview" -}}
              {{- $pdflink := printf "%s/%s" $.Permalink $pdf -}}

              {{- $id := printf "_pdf-%s" (md5 $pdf) -}}
              <div id="{{ $id | safeHTML }}" class="{{ $class }}"></div>
              <div id="{{ printf `%s-download` $id | safeHTML }}" class="{{ printf `%s-download` $class }}"></div>
              <script>
                {{/* See https://pdfobject.com/api/ */}}
                let options_{{ replace $id "-" "" | safeJS }} = {
                  page: {{ $page }},
                  pdfOpenParams: {
                    zoom: '100%'
                  },
                  fallbackLink: "<p class='{{ printf `%s-download-fallback` $class }}'><a href='{{ $pdflink }}'>{{ i18n "InlinePDFNotSupported" }}: PDF Download</a></p>"
                };
                PDFObject.embed("{{ $pdf }}", "#{{ $id }}", options_{{ replace $id "-" "" | safeJS }});
              </script>
            {{- end -}}
          {{- end -}}
        </div>
        {{- if not .Params.pdf -}}
          {{- range .Params.resources -}}
            {{- if .params.iiif -}}
              <div class="iiif">
                {{- partial "iiif/iiif-image.html" (dict "context" . "contextPath" $context "pageURL" .Permalink "pageContext" $page "site" $.Site) -}}
              </div>
            {{- end -}}
          {{- end -}}
        {{- end -}}
      </article>
    </section>
</div>
